<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta name="description" content="EBS - Enterprise Breeding System" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="theme-color" content="#000000" />
    <link rel="icon" href="favicon.ico" />
    <noscript id="jss-insertion-point"></noscript>
    <title>EBS</title>
    <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
  />
  <link rel="apple-touch-icon" href="logo.png" />
  <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap"
      rel="stylesheet"
    />
  <!--
    Remove this if you only support browsers that support async/await.
    This is needed by babel to share largeish helper code for compiling async/await in older
    browsers. More information at https://github.com/single-spa/create-single-spa/issues/112
  -->
  <script src="https://cdn.jsdelivr.net/npm/regenerator-runtime@0.13.7/runtime.min.js"></script>
  <link rel="preload" href="https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js" as="script" />

  <!--
    This CSP allows any SSL-enabled host and for arbitrary eval(), but you should limit these directives further to increase your app's security.
    Learn more about CSP policies at https://content-security-policy.com/#directive
  -->
  <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self' https: localhost:*; script-src 'unsafe-inline' 'unsafe-eval' https: localhost:*; connect-src https: localhost:* ws://localhost:*; style-src 'unsafe-inline' https:; object-src 'none';" /> -->
  
  <meta name="importmap-type" content="systemjs-importmap" />
  <!-- If you wish to turn off import-map-overrides for specific environments (prod), uncomment the line below -->
  <!-- More info at https://github.com/joeldenning/import-map-overrides/blob/master/docs/configuration.md#domain-list -->
  <!-- <meta name="import-map-overrides-domains" content="denylist:prod.example.com" /> -->

  <!-- Shared dependencies go into this import map. Your shared dependencies must be of one of the following formats:

    1. System.register (preferred when possible) - https://github.com/systemjs/systemjs/blob/master/docs/system-register.md
    2. UMD - https://github.com/umdjs/umd
    3. Global variable

    More information about shared dependencies can be found at https://single-spa.js.org/docs/recommended-setup#sharing-with-import-maps.
  -->
  <script type="systemjs-importmap">
    

    {
      "imports": {
        "single-spa": "https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js",
        "react": "https://cdn.jsdelivr.net/npm/react@17.0.2/umd/react.development.js",
        "react-dom": "https://cdn.jsdelivr.net/npm/react-dom@17.0.2/umd/react-dom.development.js",        
        "@material-ui/": "https://cdn.jsdelivr.net/npm/@material-ui/",
        "@material-ui/core": "https://cdn.jsdelivr.net/npm/@material-ui/core@4.12.1/umd/material-ui.development.js",
        "@material-ui/core/": "https://cdn.jsdelivr.net/npm/@material-ui/core@4.12.1/umd/",
        "@material-ui/styles": "https://cdn.jsdelivr.net/npm/@material-ui/styles@4.11.4/index.js",
        "@material-ui/icons": "https://cdn.jsdelivr.net/npm/@material-ui/icons@4.11.2/index.js",
        "@material-ui/icons/": "https://cdn.jsdelivr.net/npm/@material-ui/icons@4.11.2/",       
        "@ebs/ui": "http://localhost:8080/ebs-ui.js"
      }
    }
  </script>

  <!-- Add your organization's prod import map URL to this script's src  -->

  <% if (isLocal) { %>
  <script type="systemjs-importmap">
    {
      "imports": {       
        "@ebs/styleguide": "http://localhost:8081/ebs-styleguide.js",
        "@ebs/components": "https://assets-dev.ebsproject.org/components/21.09.10.61/ebs-components.js",
        "@ebs/cs": "http://localhost:8080/ebs-cs.js",
        "@ebs/sm": "https://ebs-demo.cimmyt.org:81/mfe-cs/ebs-cs.js",
        "@ebs/sh": "http://localhost:8081/ebs-sh.js",
        "@ebs/ba": "http://localhost:8081/ebs-ba.js",
        "@ebs/root-config": "//localhost:3000/ebs-root-config.js"
      }
    }
  </script>
  <% } else {%>
    <script type="systemjs-importmap" src="#{HOST_CS_SHAREDLIB}#"></script>     
  <% } %>
  <!--
    If you need to support Angular applications, uncomment the script tag below to ensure only one instance of ZoneJS is loaded
    Learn more about why at https://single-spa.js.org/docs/ecosystem-angular/#zonejs
  -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/zone.js@0.11.3/dist/zone.min.js"></script> -->


  <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@2.2.0/dist/import-map-overrides.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.min.js"></script>

 

</head>
<body>
  <script>
    System.import('@ebs/root-config');
    System.import('@ebs/styleguide');
  </script>
  <import-map-overrides-full show-when-local-storage="devtools" dev-libs></import-map-overrides-full>
</body>
</html>
